* {
  font-family: "Roboto", sans-serif;
}

.header-menu {
  box-sizing: border-box;
  height: 60px;
  background-color: #fff;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.entrar-btn {
  text-decoration: none;
  color: #ff0778;
  text-transform: capitalize;
  font-weight: 700px;
}

h1 {
  color: #fff;
  font-size: 28px;
  width: 90%;
  line-height: 1.4;
}

h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario {
  padding: 20px;
  margin: ;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px black;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  font-size: 16px;
}

/* label {
  display: inline-block;
} */

input {
  width: 100%;
}

body {
  background-attachment: fixed;
  background-size: 180%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #ff0778;
}

.form-btn {
  background-color: #ff0778;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

/* mobile maxwidth 767 */
